:root {
  --body-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  --title-font: ui-rounded,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
  font-family: var(--body-font);
}

.container {
  max-width: 900px;
}

.bg-dark {
  background-color: #080D0E!important;
}

header.py-3 {
  margin-bottom: 0!important;
  border-bottom: none!important;
}

.logotype {
  color: #fff;
  font-weight: 600;
  font-family: var(--title-font);
}

.site-logo {
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  margin-right: 16px;
}

@media (min-width:1200px) {
  .fs-4 {
    font-size: 1.125rem!important;
    line-height: 1.2;
  }
}

@media (min-width:800px) {
  .display-5 {
    font-size: 3rem;
  }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: transparent;
}

.nav-link {
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-link:focus, .nav-link:hover {
  color: cyan;
}

.text-right {
  text-align: right;
}

.bg-journey {
  background-color: #080D0E!important;
  background-image: url("/gfx/journey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-nightrider {
  background-color: #080D0E!important;
  background-image: url("/gfx/nightrider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 37% center;
  background-position-y: 100%;
}

.bg-journey .container {
  padding-top: 100px!important;
}

.bg-nightrider .container {
  padding-bottom: 25%!important;
}

@media (min-width:992px) {
  .bg-journey .container {
    padding-top: 150px!important;
  }
  
  .bg-journey {
    background-position: right center;
  }

  .bg-nightrider {
    background-position: left bottom;
  }
}

.soc-widget {
  width: 58px;
}

@media (min-width:992px) {
  .soc-widget {
    width: 117px;
  }  
}

.feature-logo,
.feature-logo image {
  width: 40px;
  height: 26px;
}

@media (min-width:1200px) {
  .feature-logo,
  .feature-logo image {
    width: 80px;
    height: 52px;
  }
}

.floating {
  position: relative;
}

.floating-phone {
  width: 210px;
}

.floating-watch {
  width: 103px;
}

@media (min-width:992px) {
  .floating-phone {
    position:absolute;
    top: 0px;
    right: -6rem;
    width: 421px;
  }

  .floating-watch {
    position:absolute;
    top: 300px;
    width: 207px;
    right: 13rem;
  }
}
